html {
    background-color: #00539f;
}

body {
    width: 100%;
    margin: 0 auto;
    background-color: chartreuse;
    border: 5px solid black;
}

img {
    width: 400px;
    display: block;
    margin: 0 auto;
    border-radius: 100%;
    border: 10px ridge gold;
}

#primary {
    color: rgb(255, 0, 85);
}

#secondary {
    color: rgb(60, 211, 0);
}