            p {
                align-content: center;
                align-self: center;
                border: 10px solid rgb(6, 84, 48);
            }
            
            div {
                width: 100%;
                height: 300px;
                border: 2px dashed red;
                margin: 20px auto;
            }
            
            .pad-me {
                padding: 50px;
            }
            
            .bb {
                box-sizing: border-box;
            }
            
            img {
                width: 400px;
                border: 20px rgb(12, 22, 124);
                padding: 20px;
                margin: 40px;
                box-sizing: border-box;
                background-size: cover;
            }
            
            .bella {
                width: auto;
                height: auto;
                border: 1px solid red;
                border-radius: 100%;
                background-image: url(../media/AT\ Logo.png)
            }
            
            .bellatwo {
                height: auto;
                border-radius: auto;
                width: 400px;
                background-image: url(../media/my\ pic.jpeg/auto);
            }
            
            h1 {
                height: 400px;
                box-sizing: border-box;
            }